:root {
  --baseColor: rgb(48, 47, 47);
  --accentColor: #d65b5d;
  --accentColor: #fdd835;
  --textColor: rgb(39, 38, 38);
}
.container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
