.aside {
  width: 30%;
  box-sizing: border-box;
  color: var(--textColor);
  /* background-color: aqua; */
}

.aside-container {
  width: 200px;
  margin: 30px auto;
}

.profile {
  width: 100%;
  margin-bottom: 30px;
}

.profile img#profile-img {
  display: block;
  width: 180px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile p#author {
  font-weight: 500;
  text-align: center;
}

.profile-description {
  font-size: 0.9em;
  margin: 15px auto;
}

.tag-lists ul {
  margin: 0;
  padding: 0;
}

.section {
  margin-bottom: 30px;
}

.title {
  width: 100%;
  height: 3em;
  line-height: 3em;
  font-size: 1em;
  color: var(--baseColor);
  background-color: var(--accentColor);
  text-align: center;
  margin-bottom: 15px;
}

.tag-lists ul li {
  list-style: none;
  width: 100%;
  height: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.recommend a {
  color: var(--textColor);
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8em;
}

img#recommend-img {
  width: 200px;
}

.recommend-title {
  margin-top: 15px;
}

.recommend-title:hover,
img#recommend-img:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .aside {
    width: 80%;
    margin: 0 auto;
  }

  .aside-container {
    width: 90%;
  }

  .profile {
    width: 100%;
    margin-bottom: 30px;
  }

  .profile img#profile-img {
    width: 180px;
  }

  .title {
    font-size: 0.9em;
  }

  .recommend a {
    font-size: 1em;
  }

  img#recommend-img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1170px) {
  .aside-container {
    width: 180px;
    margin: 30px 0 30px 30px;
  }

  .profile {
    width: 180px;
    margin-bottom: 30px;
  }

  .profile img#profile-img {
    width: 150px;
  }

  .title {
    font-size: 0.9em;
  }

  img#recommend-img {
    width: 180px;
  }

  .recommend-title {
    margin-top: 15px;
  }
}

@media (min-width: 1170px) {
}
