.article {
  display: flex;
  justify-content: space-between;
  height: 25em;
  color: var(--textColor);
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  box-sizing: border-box;
  align-items: center;
  padding: 2em;
  margin: 2em 0;
}

.imageArea {
  position: relative;
  width: 50%;
}

.thumbnails img {
  display: block;
  width: 90%;
}

.thumbnail-tag {
  position: absolute;
  top: 0;
  color: var(--baseColor);
  font-weight: 700;
  padding: 1em 2em;
  border-radius: 0 0 10px 0;
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--accentColor);
}

.descriptionArea {
  width: 50%;
}

.titles {
  font-size: 1.2em;
  font-weight: 700;
}

.titles a {
  text-decoration: none;
  color: rgb(43, 42, 42);
}

.detail-btn a {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--baseColor);
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 3.5em;
  border-radius: 5px;
  line-height: 1.1em;
  margin: 0 auto;
}

.detail-btn a:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 1170px) {
  .article {
    height: 20em;
    color: var(--textColor);
    padding: 1em;
    margin: 2em 0;
  }

  .thumbnail-tag {
    font-weight: 700;
    padding: 0.7em 1.4em;
    font-size: 0.9em;
  }

  .titles {
    font-size: 1.1em;
    font-weight: 700;
  }

  .description {
    font-size: 0.9em;
  }

  .detail-btn a {
    height: 3em;
    font-size: 0.9em;
  }
}

@media (min-width: 1170px) {
}
